.container {
  max-width: 1400px;
  margin: 50px auto;
  padding: 30px 30px;
}

.contact {
  display: flex;
  gap: 50px;
}

.title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.form {
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formGroup label {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.formGroup input,
.formGroup textarea {
  all: unset;
  border: 1px solid white;
  padding: 10px;
  color: white;
  font-size: 1.6rem;
  transition: all 0.15s ease-in-out;
}

.formGroup input:focus,
.formGroup textarea:focus {
  box-shadow: 3px 3px 0 rgba(252, 92, 124, 1);
}

.formGroup button {
  align-self: flex-start;
}

.socials {
  width: 70%;
}

.socialIcons {
  display: flex;
  gap: 30px;
}

.socialIcons a svg:hover {
  transition: all 0.15s ease-in-out;
  color: #fc5c7d !important;
}
