@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=block");

body.gradient1 {
  --gradient: linear-gradient(to right, #6a82fb, #fc5c7d);
  --color1: #6a82fb;
  --color2: #fc5c7d;
}

body.gradient2 {
  --gradient: linear-gradient(to right, #ff5f6d, #ffc371);
  --color1: #ff5f6d;
  --color2: #ffc371;
}

body.gradient3 {
  --gradient: linear-gradient(to right, #c02425, #f0cb35);
  --color1: #c02425;
  --color2: #f0cb35;
}

body.gradient4 {
  --gradient: linear-gradient(to right, #c2e59c, #64b3f4);
  --color1: #c2e59c;
  --color2: #64b3f4;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* 
.alice-carousel {
  position: relative !important;
  width: 100% !important;
  background: green;
  height: 100% !important;
}

.alice-carousel__stage-item {
  height: 100% !important;
} */
