body.gradient1 {
  --gradient: linear-gradient(to right, rgb(106, 130, 251), rgb(252, 92, 125));
  --color1: rgb(106, 130, 251);
  --color2: rgb(252, 92, 125);
}

body.gradient2 {
  --gradient: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
  --color1: rgb(255, 95, 109);
  --color2: #ffc371;
}

body.gradient3 {
  --gradient: linear-gradient(to right, rgb(192, 36, 37), rgb(240, 203, 53));
  --color1: rgb(192, 36, 37);
  --color2: rgb(240, 203, 53);
}

body.gradient4 {
  --gradient: linear-gradient(to right, #7f00ff, #e100ff);
  --color1: #7f00ff;
  --color2: #e100ff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-left: 3px solid black;
  background-color: var(--color2);
}
