.projectImage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  box-shadow: 6px 6px 0 var(--color2) !important;
  border: 2px solid var(--color2) !important;
}

.projectImage .imageContainer img {
  margin-top: 10px;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.imageSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.imagePreview {
  width: 80px;
  height: 80px;
  padding: 4px;
  position: relative;
  background: black;
  transition: all 0.25s ease-in-out;
}

.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}

.imageWrapper.selectedImg {
  padding: 2px;
  background: var(--gradient) !important;
  transition: all 0.25s ease-in-out;
}

.imagePreview.selectedImg {
  padding: 6px;
  background: black;
}

.imagePreview img {
  transition: all 0.15s ease-in-out;
  background: black;
  object-fit: cover !important;
}
