.container {
  height: 100%;
  background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.content h2 {
  margin: 0;
  font-size: 3.8rem;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
